*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Container{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgb(41, 246, 208) , rgb(89, 130, 223));
  display: flex;
  overflow: hidden;
}

.bingoBox{
  width: 85%;
  height: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 19%;
  height: 19%;
  border: 1px solid #f06;
  background-color: #fff;
  animation: rotate 0.5s linear 0s;
  display: flex;
  margin: 2px;
  border-radius: 15px 50px 30px;
}

.active{
  background: aquamarine;
  animation: animate 0.1s linear 0.1s;
  transition: all 0.3s;
}

@keyframes animate {
  from {background-color: white;}
  to {background: aquamarine;}
}

.top{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: aquamarine;
  align-self: center;
  display: flex;
  z-index: 154;
  border: 10px solid white;
  border-radius: inherit;
}

span{
  position: relative;
  right: 10px;
  font-size: smaller;
  float: right; 
}

.text{
  padding: 10px;
  color: blueviolet;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: auto;
  position: relative;
  word-break: break-word;
}

.rotate::after{
  content: 'W O N';
  color: #f06;
  position: absolute;
  text-align: center;
  left: 45%;
  top: 24px;
}
.rotate{
  width: 85%;
  height: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 0.5s linear 0.1s;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.frees{
  width: 100%;
  top: 5px;
  text-align: center;
  letter-spacing: 7px;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .card{
    width: 17%;
    height: 17%;
  }
  .text{
    font-size: 10px;
    padding: 0;
  }
  .frees{
    font-size: 9px;
  }
}